name: ayon-ftrack-services
services:
  processor:
    container_name: processor
    image: ynput/ayon-ftrack-processor:1.1.13-dev.1
    restart: unless-stopped
    environment:
      - "AYON_SERVER_URL=${AYON_SERVER_URL}"
      - "AYON_API_KEY=${AYON_API_KEY}"
      - "AYON_ADDON_NAME=ftrack"
      - "AYON_ADDON_VERSION=1.1.13-dev.1"
