name: ayon-ftrack-services
services:
  leecher:
    container_name: leecher
    image: ynput/ayon-ftrack-leecher:1.4.12
    restart: unless-stopped
    environment:
      - "AYON_SERVER_URL=${AYON_SERVER_URL}"
      - "AYON_API_KEY=${AYON_API_KEY}"
      - "AYON_ADDON_NAME=ftrack"
      - "AYON_ADDON_VERSION=1.4.12"
