name: ayon-ftrack-services
services:
  transmitter:
    container_name: transmitter
    image: ynput/ayon-ftrack-transmitter:1.4.15+dev
    restart: unless-stopped
    environment:
      - "AYON_SERVER_URL=${AYON_SERVER_URL}"
      - "AYON_API_KEY=${AYON_API_KEY}"
      - "AYON_ADDON_NAME=ftrack"
      - "AYON_ADDON_VERSION=1.4.15+dev"
